@import '../styles/variables';

.header {
  background-color: $main-color;
  display: flex;
  justify-content: center;
  padding: $default-spacing 0;
  position: sticky;
  top: 0;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: $bold;
  color: $dark-color-98;
  text-decoration: none;

  &:hover,
  &:active {
    color: $text-color-active;
  }
}
