@import '../styles/variables';

.post {
  margin-top: $default-spacing;
  padding: $default-spacing;
}

.title {
  @include title-text;
  @include text-vertical-spacing;
}

.content {
  @include content-text;

  * {
    @include content-text;
  }

  strong {
    font-weight: $bold;
  }

  h2, h3, h4, h5, h6 {
    @include content-title-text;
  }

  h2, h3, h4, h5, h6, p {
    @include text-vertical-spacing;
  }
}

.footer {
  text-align: right;
}

.footerText {
  font-size: 13px;
  color: $text-color;
  margin-top: $default-spacing * 2;
}
