@import '../styles/variables';

.post {
  margin: $default-spacing 0;
  padding: $default-spacing;
  border-radius: $default-spacing;

  &:hover,
  &:active {
    cursor: pointer;
    background-color: $active-background-color;
  }
}

.date {
  font-size: 13px;
  color: $text-color;
  @include text-vertical-spacing;
}

.title {
  @include title-text;
  @include text-vertical-spacing;
}

.content {
  @include content-text;
  @include text-vertical-spacing;
}

.link {
  text-decoration: none;
}

.more {
  font-size: 13px;
  color: $text-color;
  text-decoration: none;
}
