@import 'reset';
@import 'variables';

body {
  // font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
  font-weight: $light;
  color: $text-color;
}